
h2 {
    margin-top: 1rem;
}

@media (max-width: 767.98px)
{
p, h2, h3, h4 {
    text-align: center;
}

h2 {
    margin-top:0;
}
.container{
padding-right:10%;
padding-left:10%;
padding-top:5%;
padding-bottom:5%;
}
}

