body{
  font-family: 'Hind Siliguri', sans-serif;
}

.bg-yellow{
  background-color: #f1c40f;
  font-size: 1.25rem;
}

.navbar-toggler{
  color: #ecf0f1;

}
.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
    height: 10%;
}

@keyframes background-move {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 5% 10%;
  }
  50% {
    background-position: 15% 15%;
  }
  75% {
    background-position: 10% 5%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.btn {  font-size: 0.95rem; text-transform: uppercase; font-weight: 600; padding: 14px 24px; margin-bottom: 4px; letter-spacing: 2.2px; border-radius: 0px; line-height: 1.6; border: transparent; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; word-wrap: break-word; white-space: normal !important; }
.btn-primary { background-color: #191919; color: #fff; }
.btn-primary:hover { background-color: #191919; color: #fff; }

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1020;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
}

#search input{
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}

.nav-right {
  color: rgba(0, 0, 0, 0.5);
  padding-right:0.5rem;
  padding-left:0.5rem;
}

.nav-right:hover, .nav-right:focus {
  color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 992px)
{
    #navbarNavDropdown{
    margin-left:8rem;
    }

    #navflex {
        -webkit-box-pack: center !important;
         -ms-flex-pack: center !important;
          justify-content: center !important;
    }
}


.color{
    margin-right: 0.2rem;
    margin-bottom:0.2rem !important;
    font-size: 0.95rem;
    border:1px solid black;
    color: white;
    text-shadow:
     1px 1px 1px  #000,  
      1px -1px 1px #000,
      -1px -1px 1px #000,
       -1px 1px 1px #000;
}