.title {
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0rem;
    margin-top: 0.65rem;
}

#smalltitle, .title h1 {
    /*@handymenny: I put animation/background/backgroud-clip there to be compatible with Edge*/
    background: url(../img/background-logo.jpg);
    animation: background-move 10s infinite;
    /* @handymenny: webkit doesn't recognise standard backgroud-clip */
    -webkit-background-clip: text;
    background-clip: text;
    /*@handymenny Warning text value is experimental */
    text-transform: uppercase;
    font-size: 12vw;
}

#smalltitle a, .title h1 a {
    color: green; /* Fallback for older browsers */
    /* @handymenny: Remember -webkit-text-fill-color is not standard! Use color instead */
    color: rgba(0, 0, 0, 0);
}

/*     Extra small devices (portrait phones, less than 576px) */
@media ( max-width : 575.98px) {
    .title h1 {
        font-size: 12vw;
    }
}

/*     Small devices (landscape phones, 576px and up) */
@media ( min-width : 576px) {
    .title h1 {
        font-size: 10vw;
    }
}

/* Medium devices (tablets, 768px and up) */
@media ( min-width : 768px) {
    .title h1 {
        font-size: 8vw;
    }
}

/* Large devices (desktops, 992px and up) */
@media ( min-width : 992px) {
    .title h1 {
        font-size: 7vw;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media ( min-width : 1200px) {
    .title h1 {
        font-size: 6vw;
    }
}

#smalltitle {
    display: none;
    /* These margins let the title left align when
    /* justify-content is space=between */
    margin: 0 auto;
    margin-left: 0.5em;
    font-size: 1.3333333em;
    padding-top: 0px;
    padding-bottom: 0px;
}

@media ( max-width : 991.98px) {
    .title {
        display: none;
    }

    #smalltitle {
        display: block;
    }
}

@media ( max-width : 412px) {
    #wishbtn {
     display: none;
    }
}

@media ( max-width : 360px) {
     #cartbtn{
     display: none;
    }
}


@media ( max-width : 320px) {
     #searchbtn{
     display: none;
    }
}
