<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID"
         version="3.1">

  <display-name>Visionario</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>

  <!-- servlet -->
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signin</servlet-name>
    <jsp-file>/signin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signin</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>signup</servlet-name>
    <jsp-file>/signup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>product_detail</servlet-name>
    <jsp-file>/product_detail.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_detail</servlet-name>
    <url-pattern>/product_detail</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>35</session-timeout>
  </session-config>

<!--   load servlet on start-up -->

  <servlet>
    <servlet-name>Ds</servlet-name>
    <servlet-class>config.Ds</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ds</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <!-- security -->
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>Restrict access to search.jsp</web-resource-name>
		<url-pattern>/search.jsp</url-pattern>
	</web-resource-collection>
	<auth-constraint>
	</auth-constraint>
  </security-constraint>

</web-app>
